body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  background: #18181a;
  color: #00fff7;
}


a {
  color: #00fff7;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background: #232336;
  border-radius: 12px;
  box-shadow: 0 0 10px #00fff7;
}

input, textarea, select {
  background: #222;
  color: #39ff14;
  border: 1px solid #00fff7;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
}

button {
  background: #18181a;
  color: #00fff7;
  border: 1px solid #ff00ea;
  border-radius: 6px;
  padding: 8px 18px;
  cursor: pointer;
  margin-top: 8px;
}

h1, h2, h3 {
  color: #00fff7;
  text-shadow: 0 0 5px #00fff7;
}